.athletes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.athletes h1 {
  text-decoration: underline;
}

.athletes h2 {
  text-decoration: none;
  text-align: center;
}

.athlete-list {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 90vw;
  margin: 1rem 0;
}
