.athletes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.athletes h1 {
  text-decoration: underline;
}

.athletes h2 {
  text-decoration: none;
  text-align: center;
}

.athlete-list {
  text-align: center;
  gap: 2rem;
}
