.bet {
  color: black;
  background-color: white !important;
  display: flex;
  justify-content: space-between;
}

.bet-list {
  list-style: none;
  padding: 0 1rem;
  max-height: 50vh;
  overflow: auto;
}

.bet-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.modal {
  border: 2px solid white;
  text-align: center;
}

.modal h2 {
  margin-bottom: 0;
}

.default {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding: 0 1rem;
  flex-flow: row wrap;
  align-content: center;
}

.filters h3 {
  cursor: pointer;
  margin: 1rem 0 0 0;
}

.active {
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.accept {
  color: green;
}

.accept:hover {
  font-size: large;
  cursor: pointer;
}

.decline {
  color: red;
}

.decline:hover {
  font-size: large;
  cursor: pointer;
}

.privateBets {
  background-color: white !important;
  color: black;
}
