nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(72, 66, 86);
  background-color: #0d0a17;
}

@media (min-width: 611px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
}

.nav h1 {
  margin-left: 20px;
  margin-top: 17px;
  margin-bottom: 0px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

.hover:hover {
  text-decoration: underline;
}

.list {
  list-style-type: none;
  background-color: #0d0a17;
  height: 100%;
  display: flex;
  justify-content: right;
  height: auto;
  padding-top: 21px;
  position: relative;
  padding-left: 0;
  margin: 0;
}

.items {
  margin-right: 20px;
  color: #f1f1f1;
  cursor: pointer;
}

.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 11px;
  padding: 5px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

.noPointer {
  cursor: not-allowed;
}

.nonHover {
  cursor: default;
}

.title {
  display: flex;
  gap: 2rem;
}

.username {
  height: auto;
  margin-top: 21px;
}

@media (max-width: 1000px) {
  .username {
    display: none;
  }
}

@media only screen and (min-width: 611px) and (max-width: 800px) {
  .balance {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgb(72, 66, 86);
    margin-top: -12px;
  }
  .items {
    width: 100%;
    border-bottom: 1px solid rgb(72, 66, 86);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
  }
  .btn i {
    text-decoration: none;
    height: auto;
    padding-top: 1px;
  }
  .btn:hover {
    text-decoration: none;
  }
}
