.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.227),rgba(0, 0, 0, 0.2)), url('./images/BackgroundImage.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
}
