.button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

.button:hover {
  text-decoration: underline;
  font-size: 1.05rem;
}
